<h1>{{pollTitle}}</h1>

<div class=".hcenter">
        <center>
        <br />
<center class="poll_wait">We have <span class='numvotes'>{{numVotes}}</span> vote{{plural}}</center>
        <br />
<a href="/admin/close">Close</a>
        </center>
        <div class="student_notice" style="position: absolute; bottom: 1em; width: 95%; text-align: center;">Students: Please visit
            <div class="url">http://polls.sneakygcr.net</div>
        </div>
</div>

