<h1>Create a new poll</h1>
<form action="/admin/set" method="get">
    {{%IMPLICIT-ITERATOR}}
    {{#hasErrors}}
    Uh oh! There were errors with that poll.
    <ul>
        {{#errors}}
        <li>{{.}}</li>
        {{/errors}}
    </ul>
    {{/hasErrors}}

    Saved polls:
    <ul class="saved_polls">loading...</ul>

    Title:<br />
    <input id="" name="title" type="text" value="{{pollTitle}}"/>
    <br />

    Answers:<br />
    {{#pollAnswers}}
    <input id="" name="answers[]" type="text" value="{{.}}"/><br />
    {{/pollAnswers}}

    <input type="submit" value="Ask" />
</form>
<a class="save_poll" href="#" />Save this poll for later</a>
