<h1>Create a new poll</h1>
<div class="hcenter">
    <center>
        <form action="/admin/set" method="get">
            {{%IMPLICIT-ITERATOR}}
            {{#hasErrors}}
            <ul>
                {{#errors}}
                <li>{{.}}</li>
                {{/errors}}
            </ul>
            {{/hasErrors}}

            <h3>Question:</h3>
            <input id="" name="title" type="text" value="{{pollTitle}}"/>

            <h3>Answers:</h3>
            {{#pollAnswers}}
            <input id="" name="answers" type="text" value="{{.}}"/><br />
            {{/pollAnswers}}

            <input class="ask" type="submit" value="Ask" />
            <br />
            <input type="button" class="save_poll" value="Save &darr;" />
        </form>
        <br />
        <div class="student_notice">Students: Please visit
            <div class="url">http://polls.sneakygcr.net</div>
        </div>
    </center>

    <h2>Saved polls:</h2>
    <ul class="saved_polls">loading...</ul>

</div>
