<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
    {{%IMPLICIT-ITERATOR}}
    <link media="screen" rel="stylesheet" href="/css/master.css" type="text/css" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/polling.js"></script>

    {{#scripts}}
    <script type="text/javascript" src="{{.}}"></script>
    {{/scripts}}

</head>
<body>
    {{>body}}
</body>
</html>
