<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
    {{%IMPLICIT-ITERATOR}}
    {{#scripts}}
    <script type="text/javascript" src="{{.}}"></script>
    {{/scripts}}
</head>
<body>
{{>body}}
</body>
</html>
