<h1>{{pollTitle}}</h1>

<!-- Did I vote? {{clientVoted}} -->

<ul class="choices">
{{#answers}}
    {{#isMyVote}}
        <li class="chosen">&#187; {{answer}}</li>
    {{/isMyVote}}
    {{^isMyVote}}
        <li class="unchosen"><a href="{{url}}">{{answer}}</a></li>
    {{/isMyVote}}
{{/answers}}
</ul>

<div class="hcenter">Your teacher will close this poll in a moment.</div>

<div class="hidden">Poll ID: <span id="pollId">{{pollId}}</span></div>
