<h1>Open poll: {{pollTitle}}</h1>

Did I vote? {{clientVoted}}

<ul>
{{#answers}}
    {{#isMyVote}}
        <li>voted: {{answer}}</li>
    {{/isMyVote}}
    {{^isMyVote}}
        <li><a href="{{url}}">{{answer}}</a></li>
    {{/isMyVote}}
{{/answers}}
</ul>

<div class="hidden">Poll ID: <span id="pollId">{{pollId}}</span></div>
